<template>
    <Client />
</template>

<script>
import Client from "./components/client.vue";

export default {
    name: "App",
    components: {
        Client,
    },
};
</script>

<style>
*,
::after,
::before {
    box-sizing: border-box;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 60px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
</style>
