<template>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Providers</th>
            <th></th>
        </tr>
        <tr>
            <td>test</td>
            <td>test@gmail.com</td>
            <td>test phone</td>
            <td>Provider1, Provider2</td>
            <td><button class="edit-button">Edit</button></td>
        </tr>
        <tr>
            <td>test</td>
            <td>test@gmail.com</td>
            <td>test phone</td>
            <td>Provider1, Provider2, Provider3</td>
            <td><button class="edit-button">Edit</button></td>
        </tr>
    </table>
</template>

<script>
export default {
    name: "Client",
    props: {},
};
</script>

<style scoped>
table {
    border-collapse: collapse;
    min-width: 800px;
    margin: auto;
}
table th,
table td {
    border: 1px solid #dee2e6;
    padding: 0.75rem;
    vertical-align: top;
}
table th {
    text-align: left;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.edit-button {
    color: #0583ad;
    text-decoration: underline;
    background: transparent;
    border: none;
    outline: none !important;
    font-size: 16px;
    cursor: pointer;
}
</style>
